body, html {
    margin: 0;
    padding: 0;
    background: url('img/bak.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

header, footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* 半透明背景 */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center; /* 居中导航项 */
}

nav ul li {
    display: inline-block; /* 使用inline-block替代inline，避免一些布局问题 */
    margin: 0 10px; /* 简化margin设置 */
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#home h1 {
    text-align: center;
    margin-top: 30px; /* 根据你的页面布局调整 */
    margin-bottom: 20px; /* 根据你的页面布局调整 */
    font-size: 2.5em; /* 根据需要调整字体大小 */
}

#home p {
    text-align: center; /* 段落文本居中 */
    font-size: 1em; /* 根据需要调整字体大小 */
    max-width: 600px; /* 限制段落最大宽度，提高可读性 */
    margin: 0 auto 30px; /* 段落居中并设置下边距 */
    line-height: 1.6; /* 行高，提高文本可读性 */
    color: #333; /* 文本颜色，根据背景色调整 */
}

.download-buttons {
    display: flex;
    justify-content: center; /* 按钮水平居中 */
    gap: 15px; /* 按钮之间的间隔 */
    margin-top: 20px; /* 按钮与上文内容的距离 */
}

.download-button {
    padding: 10px 30px; /* 按钮内边距 */
    font-size: 1em; /* 字体大小 */
    font-weight: bold; /* 字体加粗 */
    color: #ffffff; /* 文字颜色 */
    background-color: #007bff; /* 按钮背景颜色 */
    border: none; /* 无边框 */
    border-radius: 5px; /* 圆角边框 */
    text-decoration: none; /* 去除下划线 */
    transition: background-color 0.3s; /* 鼠标悬停时颜色变化的过渡效果 */
    cursor: pointer; /* 鼠标悬停时显示指针手势 */
}

.download-button:hover,
.download-button:focus {
    background-color: #0056b3; /* 鼠标悬停或聚焦时的背景颜色 */
    text-decoration: none; /* 去除悬停时的下划线 */
    outline: none; /* 去除聚焦轮廓 */
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
